* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 5px;
  list-style: none;
}

header nav ul li {
  margin-right: 15px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #002d75;
}

header nav ul li .active {
  border-bottom: 2px solid #002d75;
}

main {
  background-image: url(/images/2.jpg?93ce216df87950e8d50eca809bfbf45f);
  background-repeat: no-repeat;
  background-size: cover;
}

main .home {
  text-align: center;
}

main iframe {
  width: 800px;
  height: 500px;
  padding: 50px 0 50px 0;
}

main .contatti-container {
  height: 100vh;
}

main .contatti-container ul.contatti {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

main .contatti-container ul.contatti li {
  list-style: none;
  margin-right: 20px;
  padding-top: 20px;
}

main .contatti-container ul.contatti li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Sansita Swashed", cursive;
}

main h2 {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Sansita Swashed", cursive;
  color: white;
}

main .cards {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

main .cards .card {
  width: 30vw;
  padding: 20px;
}

main .cards .card h3 {
  margin-bottom: 5px;
  color: white;
  font-family: "Sansita Swashed", cursive;
}

main .cards .card img {
  width: 100%;
}

main .cards .card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

footer {
  height: 70px;
  line-height: 70px;
  background-color: #cce1e6;
}

footer h2 a {
  text-decoration: none;
  color: #002d75;
  margin-left: 20px;
  font-family: "Sansita Swashed", cursive;
}

