* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #002d75;
}

main {
  background-image: url(/images/1.jpeg?7680bb42127358fb82ba488591c3c4ee);
  background-repeat: no-repeat;
  background-size: cover;
}

main h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #002d75;
}

main .cards {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

main .cards .card {
  width: 30vw;
  padding: 10px;
}

main .cards .card h3 {
  margin-bottom: 5px;
  color: #002d75;
}

main .cards .card img {
  width: 100%;
}

main .cards .card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

footer {
  height: 70px;
  line-height: 70px;
  background-color: #cce1e6;
}

footer h2 a {
  text-decoration: none;
  color: #002d75;
  margin-left: 20px;
}

