main{
        background-image: url('../../img/1.jpeg');
        background-repeat: no-repeat;
        background-size: cover;


    h2{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: $font1;
        color: $coloreBrand;
    }
    .cards{
        width: 90vw;
        margin: 0 auto;
        @include flex(row,flex-start,flex-start, wrap);

        .card{
            width: 30vw;
            padding: 20px;
            h3{
                margin-bottom: 5px;
                color: $coloreBrand;
                font-family: $font1;
            }
            img{
                width: 100%;
            }

        }
        .card:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}
